body{
    background-color: rgb(119, 2, 26);
    background-image: url(imagenes/fondo2.jpg);
    background-repeat: no repeat;
    background-size: cover;
}

h1{
    font-family: 'Sofia', cursive;
    text-decoration: underline 2px;
}

h2{
    font-family: 'Sofia', cursive;
    text-decoration: underline 2px;
}
h3{
    font-family: 'Sofia', cursive;
    color: white;
}

h4{
    font-family: 'Sofia', cursive;
    text-shadow: 1px 1px 2px black;
    text-decoration: underline 2px;
}

li h5{
    font-family: 'Sofia', cursive;
    font-size: 14px;
    cursor: pointer;
}

p{
    text-shadow: 1px 1px 2px black;
}

.vinito img{
    width: 35px;
    margin-right: 20px;
}

.color{
    background-color: rgb(119, 2, 26);
}

ul{
    background-color: rgb(119, 2, 26) !important;
}

a{
    font-size: 18px;
    font-family: 'Sofia', cursive;
    color: white !important;
}

.blanco{
    color: white;
    border-color: white;
    font-family: 'Sofia', cursive;
}


.variacion{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    background-color: rgb(119, 2, 26) !important;
}

.variacion:hover, .variacion:focus {
    background-size: 100% 1px;
}

.form-control{
    margin-top: 10px;
}
 /* FOOTER */
/* ////////////////////////////// */
/* ////////////////////////////// */
 .footer{
    height: 250px;

    background-color: rgb(56, 0, 11);
    border-top: 1px solid #6b6b6b;
}

.footer__contenedor{
    margin: 0 auto;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(1, 250px); 
}

.footer__info{
    width: auto;
    height: auto;
    margin-top: 10px;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: flex-start;
    color: white;
    grid-column: 1;
    grid-row: 1;
}

.footer__info li{
    list-style: none;
    background-color: rgb(56, 0, 11);
}

.footer__titulo{
    width: auto;
    height: auto;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: center;
    color: white;

    grid-column: 2;
    grid-row: 1;
}

.footer__redes{
    width: auto;
    height: auto;
    margin-top: 10px;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: flex-start;

    grid-column: 3;
    grid-row: 1;
}

.fa-instagram{
    color: white;
    padding: 0px 10px;
}


.fa-whatsapp{
    color: white;
    padding: 0px 10px;
}

.fa-envelope{
    color: white;
    padding: 0px 10px;
}

/* INDEX*/
/* ////////////////////////////// */
/* ////////////////////////////// */
.principal{
    height: 650px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
/*     background-image: url(imagenes/fondo.png);
    background-repeat: no repeat;
    background-size: 100%; */
    color: white;
}

.uva{
    width: 650px;
    margin: 0 auto;
}

.uvita img{
    height: 400px;
}


.imagen img{
    border-radius: 10px;
}

/* PRINCIPAL 2 */

.card-body{
    height: auto;
    color: rgb(78, 0, 16);

    text-align: center;
}

/* .footer{
    height: 250px;

    background-color: rgb(22, 0, 0);
    border-top: 1px solid rgb(119, 2, 26);
} */

.principal__2{
    width: auto;
    height: auto;
    padding: 40px;

/*     background-image: url(imagenes/fondo.png);
    background-repeat: no repeat;
    background-size: 100%; */
/*     border-top: 3px solid rgb(29, 0, 0); */
}

.vinos{
    margin-top: 5px;
}

/* NOSOTROS */
/* ////////////////////////////// */
/* ////////////////////////////// */



/* CONTACTO */
/* ////////////////////////////// */
/* ////////////////////////////// */

.formContacto{
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(119, 2, 26, 0.8);
}

.tipovino{
    margin-bottom: 5px;
    padding: 10px;

    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Sofia', cursive;
}

.datos{
    text-align: center;
    font-family: 'Sofia', cursive;
    text-decoration: underline 2px;
    font-size: 40px;
}

#nombre{
    margin-left: 30px;
    width: 530px;
    border-radius: 15px 0 15px 0 ;
    font-size: 20px;
}
#apellido{
    margin-left: 25px;
    width: 530px;
    border-radius: 15px 0 15px 0;
    font-size: 20px;
}
#edad{
    margin-left: 45px;
    width: 510px;
}
#email{
    margin-left: 45px;
    width: 530px;
    border-radius: 15px 0 15px 0 ;
    font-size: 20px;
}

input, select, textarea{
    margin-bottom: 10px;
    font-family: 'Sofia', cursive;
}

.div, label{
    margin-left: 50px;
    color: #fff;
    font-family: 'Sofia', cursive;

}

#Joven{
    margin-left: 50px;
}
#Reserva{
    margin-left: 50px;
}
#Tinto{
    margin-left: 50px;
}
.ol-form-label col-xl col-lg{
    margin-right: 50px;
}
.botones{
    width: 250px;
    margin: 0 auto;
}

.btnenviar{
    background-color:rgb(152, 253, 160);
    width: 100px;
}

.btnreset{
    background-color:rgb(253, 152, 152);
    width: 100px;
}
#labelTinto{
margin-right: 55px;
}

#labelBlanco{
    margin-right: 55px;
}
#labelJoven{
    margin-right: 50px;
}
#cmbEstilo{
    margin-left: 25px;
    border-radius: 20px;
}
.divConsulta{
    padding-right: 300px;
}
#labelComentario{
    display: inline-block;
   margin-right: 50px;
 
   
}
#areaComentario{
    display: inline-block;
    
}
#Consulta{
    border-radius: 15px 0 15px;
    font-size: 20px;
}
/* JOVENES */
/* ////////////////////////////// */

.JovenesParrafo{
    color: white;
}




/* ////////////////////////////// */




/* CRIANZA */
/* ////////////////////////////// */
/* ////////////////////////////// */



/* RESERVA */
/* ////////////////////////////// */
/* ////////////////////////////// */



/* GRANRESERVA */
/* ////////////////////////////// */
/* ////////////////////////////// */



/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* MEDIAQUERIES */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */